*{
    box-sizing: border-box;
}

/* elemenen selector*/
body{
    background-color:#C6DCBA;
     font-family: arial;
     color: white
}

/* media query */
/* tablet : layout yang ditampilkan 2 kolom */
@media screen and (min-width: 600px){
body {
    background-color: #FFB5DA;
}
.col-sm-6{
    width: 50%;
    float: left;
    
}    
.col-sm-12{
    width: 100%;
    float: left;
}
}
/* destop : layout yang ditampilkan 4 kolom */
@media  screen and (min-width: 992px) {
    body{
        background-color: #B5C0D0;
    }
    .col-lg-3{
    width: 25%;
    float: left;
}
.col-lg-6{
    width: 50%;
    float: left;
}
}
/* class selector*/
.text-primary{
    color:pink;
}
col-50{
    width: 50%;
    float: left;
}
.img-responsive{
    width: 100%;
    max-height: 500px;
}

.circle{
    border-radius:50%;
}
.rounded{
    border-radius:20%;
}
.p-1{
    padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
